.mq {
    font-size: 14px;
    color: #888;
    min-height: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    border-radius: 12px;
}

.borde {
    border-radius: 16px;
}