.mq {
    font-size: 14px;
    color: #888;
    min-height: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    border-radius: 12px;
}

.borde {
    border-radius: 16px;
}

.ref {
    height: 16px;
    min-height: 16px;
    width: 100%;
    color: rgba(104, 103, 103, 0.82);
    opacity: 0.8;
    font-size: 12px;
    line-height: 16px;
    font-weight: 600;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}